html, body, {
  position:fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}
.logo img {
  display: block;
  width: 269px;
  height: 95px;
  margin-top: 108px;
  padding-top:112px;
  padding-bottom: 5px;
  margin: 0;
  padding-left: 12%;
}
.searchbar {
  max-width: 50%;
}
.searchbar input {
  padding-top: 10px;
  width: 75%;
}
.searchbar img {
  max-height: 20px
}
.buttons table {
  display: inline-block;
  opacity: .8;
  color: black;
}
.nav {
max-width: 100%;
border-style: solid 1px color: grey;
background-color: #e4e4e4;
height: 26px;
margin-top: 26.7%;
}
.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  background-color: #e4e4e4;
  font-size: 12pt;
  text-align:center;
  padding:4px;
  color: #666;
  font-family: sans-serif;
  opacity: .8;
}
.nav #leftlist {
  float: left;
}
.nav #rightList {
  float:right;
}

.personalHeader {
  height: 1%;
}
.personalHeader ul{
  list-style-type: none;
  float: right
}
.personalHeader li {
 display: inline-block;
 text-align: center;
 font-family: sans-serif;
 font-size: 12pt;
 color: #666;
 padding: 4px;
}
